/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    max-width: 1024px;
    position: relative;
    margin: 0 auto;
    background: rgb(239, 233, 231);
}

.header{
    position: absolute;
    z-index: 2;
    width: 100%;
}

.title{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.75);
}
.title img{
    margin-left: 42px;
}
@media(max-width:768px){
    .title img{
        margin-left: 13px;
    }
}
.title .menu{
    float: right;
    margin-right: 48px;
}
@media(max-width:768px){
    .title .menu{
        margin-right: 18px;
    }
}
@media(max-width:337px){
    .title .menu{
        max-height: 0px;
        transition: 1.3s;
        overflow: hidden;
        position: absolute;
        top: 57px;
        left: 0;
        right: 0;
        background: black;
        margin-right: 0px;
    }
    .menu.menu_show{
        max-height: 320px;
    }
}
.show_menu{
    color: white;
    font-size: 20px;
    display: none;
}
@media(max-width:337px){
    .show_menu{
        display: block;
        margin-right: 20px;
    }
}
.dropdown{
    float: left;
    margin-left: 30px;
}
@media(max-width:337px){
    .dropdown{
        width: 100%;
        float: left;
        margin-left: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid white;
        text-align: right;
    }
}
.dropdown a{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
@media(max-width:337px){
    .dropdown a{
        padding-right: 15px;
    }
}

.banner{
    background-image: url(/images/header_desktop.png);
    background-position: center;
    height: 420px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media(max-width:337px){
    .banner{
        background-image: url(/images/header_mobile.png);
    }
}
.banner_word{
    width: 460px;
    height: 152px;
    background: rgba(0,0,0,0.35);
    margin-top: 123px;
    text-align: center;
}
@media(max-width:337px){
    .banner_word{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        height: 152px;
        background: rgba(0,0,0,0.35);
        margin-top: 123px;
        text-align: center;
    }
}
.banner_word h1{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 20px;
}
.banner_word .wrap_word{
    display: none;
}
@media(max-width:337px){
    .banner_word h1{
        display: none;
    }
    .banner_word .wrap_word{
        display: block;
    }
}
.banner_word p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    line-height: 1.5;
}
.banner_word i{
    font-family: FontAwesome;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 2px;
    margin-right: 2px;
}


.content{
    padding-top: 48px;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
    justify-content: center;
}
.content .menu{
    margin-right: 20px;
}
@media(max-width:337px){
    .content{
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        align-items: center;
    }
    .content .menu{
        width: 100%;
        margin-right: 0px;
    }
}
.content .menu i{
    font-size: 22px;
    color: #3D1101;
    margin-right: 15px;
}
.content h1{
    display: inline;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
}

.content .menu li{
    width: 220px;
    border-bottom: 1px solid #3D1101;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    line-height: 32px;
    padding-left: 8px;
}
@media(max-width:337px){
    .content .menu li{
        width: 100%;
        padding-left: 0px;
    }
}
.content .menu .choose{
    background: #3D1101;
    color: #FFFFFF;
}

.hamburger{
    width: 700px;
}
@media(max-width:337px){
    .hamburger{
        width: 100%;
    }
}
.menu_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:337px){
    .menu_title{
        margin-top: 23px;
        flex-direction: column;
        align-items: flex-end;
    }
}
.search{
    border: 2px solid #3D1101;
    width: 460px;
    height: 32px;
}
@media(max-width:337px){
    .search{
        width: 100%;
    }
}
.search i{
    float: right;
    width: 36px;
    height: 100%;
    background: #3D1101;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}
@media(max-width:337px){
    .cart{
        margin-top: 15px;
        margin-right: 7px;
    }
}
.cart p{
    display: inline;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    padding-right: 12px;
    border-right: 1px solid #3D1101;
}
.cart i{
    padding-left: 15px;
    font-size: 21px;
    position: relative;
}
.cart span{
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    right: -8px;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 12px;
    color: #FFFFFF;
    background: #FF5E45;
    border: 1px solid #EFE9E7;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.items li{
    margin-top: 26px;
    margin-bottom: 30px;
    width: 220px;
    height: 280px;
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
@media(max-width:337px){
    .items li{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
    }
}
.items .like{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 9px;
    top: 9px;
}
.items img{
    /* width: 220px; */
    height: 120px;
    object-fit: cover;
    overflow: hidden;
}
.items .ribbon_wrap{
    width: 90px;
    height: 90px;
    overflow: hidden;
    /* 當超過width和height的大小就隱藏 */
  
    position: absolute;
    top: -2px;
    left: 133px;
}
@media(max-width:337px){
    .items .ribbon_wrap{
        left: 213px;
    }
}
.items .ribbon {
    position: relative;
    left: -18px;
    top: 26px;
    width: 148px;
    background-color: #00CC99;
    color: white;
    padding: 5px 0;
    text-align: center;
    transform: rotate(45deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
.items .ribbon:before {
    content: "";
    border-top: 4px solid #795548;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.items .ribbon:after {
    content: "";
    border-top: 4px solid #795548;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    right: 0;
}
.items h1{
    padding-top: 11px;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    color: #3D1101;
    width: 100%;
    text-align: center;
}
.items h2{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 12px;
    color: #3D1101;
    width: 100%;
    text-align: center;
}
.items .line{
    /* margin-left: 65px; */
    width: 91px;
    height: 8px;
    border-bottom: 1px solid #3D1101;
}
.items .price{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-family: Roboto-Light;
    font-size: 20px;
    color: #3D1101;
}
.go_cart{
    width: 200px;
    height: 28px;
    margin-top: 13px;
    margin-bottom: 10px;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:337px){
    .go_cart{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.go_cart i{
    font-size: 11px;
    color: #FF5E45;
    padding-right: 9px;
}
.go_cart p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #FF5E45;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 43px;
    padding-right: 43px;
}
@media(max-width:768px){
    .footer{
        display: flex;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width:337px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
}
.footer .about{
    width: 31%;
}
.footer .contact{
    width: 31%;
}
.footer .footer_logo{
    width: 31%;
}
@media(max-width:337px){
    .footer .about{
        width: 100%;
    }
    .footer .contact{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer .footer_logo{
        width: 100%;
    }
}
.footer h1{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    margin-bottom: 16px;
}
.footer p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    margin-right: 20px;
    line-height: 1.5;
}
.footer img{
    margin-top: 4px;
    margin-left: 10px;
    float: right;
}
@media(max-width:337px){
    .footer img{
        margin-left: 32px;
    }
}
.footer i{
    float: right;
    margin-left: 11px;
    margin-top: 22px;
    font-family: FontAwesome;
    font-size: 36px;
}